
<!--



<%= link_to 'Back', bookings_path %>
-->

<!-- booking -->
			
	<div id="booking" >
		<span id="tooltip" ></span>
		<div id="book-scroller"></div>
		<div id="book-times" >
		</div>
		<div id="book-info">
			<p><i>Select booking time</i></p>
		</div>
	</div>
	<link rel="stylesheet" type="text/css" href="/assets/booking.css" />
	<script>

		var jasonbookings = <%=jasonbookings%>;
		var jasonlabsettings = <%=jasonlabsettings(selected_lab)%>;

	</script>
	<script src="/assets/styleHandler.js"></script>
	<script src="/assets/booking.js"></script>
<br>
<%=jasonbookings%><br>
<%=jasonlabsettings(selected_lab)%>
<%= render 'form' %>
	<%=request.raw_post%>
