<p id="notice"><%= notice %></p>

<h1>Listing Lab Settings</h1>

<table>
  <thead>
    <tr>
      <th>Lab</th>
      <th>Max steps</th>
      <th>Total steps</th>
      <th>Step length</th>
      <th>Extra properties</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lab_settings.each do |lab_setting| %>
      <tr>
        <td><%= lab_setting.lab %></td>
        <td><%= lab_setting.max_steps %></td>
        <td><%= lab_setting.total_steps %></td>
        <td><%= lab_setting.step_length %></td>
        <td><%= lab_setting.extra_properties %></td>
        <td><%= link_to 'Show', lab_setting %></td>
        <td><%= link_to 'Edit', edit_lab_setting_path(lab_setting) %></td>
        <td><%= link_to 'Destroy', lab_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lab setting', new_lab_setting_path %>
